
a:-webkit-any-link{
  padding:1.1em;
  font-size: 2em;
  color: black;
  margin: 1%;
  text-decoration: none;
  border-radius: 10%;
  background-color: white;
}




a:hover {
 background-color: #d7d7d7;
}

.App {
  text-align: center;
}

.divTable{
  display: table;
  max-width: 20em;
  float: right ;
  display: flex;
  align-items: center;
}

.divTableRow{
  display: table-row;

}

.divTableHeading{
  background-color: #eee;
  display: table-header-group;

}

.divTableCell, .divTableHead{
  border: 1px solid #999999;
  display: table-cell;
  padding: 15px 10px;
}

.divTableFoot{
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody{
  display: table-row-group;

}

.divTableCell:nth-child(1n){
  background-color: gainsboro;
}

.container{
  display: flex;
  opacity: 0.9;
  background-color: #454557;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  border: 2px red solid;
  
}

img{
  height: 16em;

}

input {
  box-sizing: border-box;
  font-size: 2rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
  margin-top: 6%;

}

input:hover{
  background-color: #d7d7d7;
}

body{
  background-image: url("https://res.cloudinary.com/derrickstahlman/image/upload/v1678513827/pokeball_zv5ueb.webp");

  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(30, 62, 30);

}

.div-type-1 {
  background-color: white;
  border: 2px solid black;
  margin:0 auto;
  margin-top: 5%;
  padding:2%;
  width:60%;
  border-radius: 5%;
}

p{
  font-size: 1.5em;
}

h1{
  font-size: 3em;
  text-align: center;
}


